#Acer
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0502", MODE="0666"
#Dell
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="413c", MODE="0666"
#Foxconn
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0489", MODE="0666"
#Garmin-Asus
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="091E", MODE="0666"
#HTC
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0bb4", MODE="0666"
#Huawei
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="12d1", MODE="0666"
#Kyocera
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0482", MODE="0666"
#LG
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="1004", MODE="0666"
#Motorola
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="22b8", MODE="0666"
#Nvidia
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0955", MODE="0666"
#Pantech
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="10A9", MODE="0666"
#Samsung
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="04e8", MODE="0666"
#Sharp
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="04dd", MODE="0666"
#Sony Ericsson
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0fce", MODE="0666"
#ZTE
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="19D2", MODE="0666"
